{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tactics{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('tactic.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for tactic in tactics %}
    <article class="tactic">
      <header>
        <div>
          <h1>{{ tactic['disarm_id'] }} {{ tactic['name'] }}</h1>
          <div class="about">Phase: {{ tactic['phase_id'] }}</div>
        </div>
      </header>
      <p class="summary">{{ tactic['summary'] }} {% if g.user %}-  <a class="action" href="{{ url_for('tactic.update', id=tactic['id']) }}">Edit</a>{% endif %}
      </p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

