{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}DISARM Phases{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('phase.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}

<p>A phase is the highest-level grouping of tactics and their associated techniques, corresponding to a logical stage in the execution of an influence campaign.</p>
<p></p>

  {% for phase in phases %}
    <article class="phase">
      <header>
        <div>
          <h3>{{ phase.disarm_id }}: {{ phase.name }}</h3>
        </div>
      </header>
        <p class="summary">Summary: {{ phase.summary }} - <a class="action" href="{{ url_for('phase.view', id=phase['id']) }}">Details</a> {% if g.user %}- <a class="action" href="{{ url_for('phase.update', id=phase.id) }}">Edit</a>{% endif %}
        </p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

