{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ counter.name }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or counter.name }}" required>
    <label for="summary">Summary</label>
    <textarea name="summary" id="summary">{{ request.form['summary'] or counter.summary }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('counter.delete', id=counter.id) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}

