{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Welcome to DISARM{% endblock %}</h1>
{% endblock %}

{% block content %}

  <div>

<p>DISARM is a set of frameworks for describing and understanding disinformation incidents. <a class="about" href="{{ url_for('about') }}">Learn more about DISARM</a></p>
<hr>
  </div>
  <div>

<h3>DISARM Frameworks</h3>

Disarm objects are described in detail <a class="objects" href="{{ url_for('objects') }}">here</a>. 

<hr>
</div>


  <table>
    <tr>
      <td><div id="redgrid"></div></td>
    </tr><tr>
    </tr><tr>
      <td><div id="bluegrid"></div></td>
    </tr>
  </table>

<script type="text/javascript" src='static/textgrid.js'></script>
<script type="text/javascript">
    fillHtmlTable({{redgridparams|tojson}});
    fillHtmlTable({{bluegridparams|tojson}});
</script>


{% endblock %}
